<footer class="row">
	<div class="col-12">
		<div class="inline">
			<ul>
				<li><a href="">Andina del sud</a></li>
				<li><a href="">Andina del sud</a></li>
				<li><a href="">Andina del sud</a></li>
				<li><a href="">Andina del sud</a></li>
				<li><a href="">Andina del sud</a></li>
				<li><a href="">Andina del sud</a></li>
				<li><a href="">Andina del sud</a></li>
				<li><a href="">Andina del sud</a></li>
				<li><a href="">Andina del sud</a></li>
				<li><a href="">Andina del sud</a></li>
				<li><a href="">Andina del sud</a></li>
				<li><a href="">Andina del sud</a></li>
			</ul>
		</div>
	</div>
</footer>