#logo{
	  display: block;
  width: 120px;
  height: 31px;
  background-image: url('../../../assets/img/logo_sigav.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 70% 100%;
}

