<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!--a class="navbar-brand" href="#">Main</a-->
  <!--span id="logo" style="background-image:url('/assets/img/logo_sigav.png');"-->
  <span id="logo">
  		<a href="#" title="Volver a principal"></a>
	</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Ejemplo111</a>	
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ejemplo2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Deshabilitado</a>
      </li>
    </ul>
  </div>
</nav>